/.vs
/Infernal-Ink-Steel-Suite.manager/bin
/.vs
/.vs/Infernal-Ink-Steel-Suite.manager
/.vs/Infernal-Ink-Steel-Suite.manager/v17
.vs/Infernal-Ink-Steel-Suite.manager/v17/.suo
.vs/Infernal-Ink-Steel-Suite.manager/v17/DocumentLayout.json
